<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="quiz_question">
 
</div>

<script type="text/template" id="qtemplate">
  <p class='p<%= this.collection.question_index %>'><%= question %>
  <br>
  <% for(var i=0; i<answer_choices.length; i++) { %>
           <input type='radio' name='group<%= this.collection.question_index %>' value="Los Angeles"><%= answer_choices[i] %><br>
       <% } %>
  
  <input id="back_id" type="button" value="Back">
  <input id="next_id" type="button" value="Next">
  </p>
</script>

<script src="js/jquery-2.0.2.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/backbone.localStorage.js"></script>
<script src="js/questionmodel.js"></script>
<script src="js/questioncollection.js"></script>
<script src="js/questionview.js"></script>
<script src="js/app.js"></script>




  
</body>
</html>